*{
    /*limpeza de configurações automáticas do navegador*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* o *{} siginifica que a regra vale para todo o site */

body{
    background-image: linear-gradient(to bottom, #2b1352 0%, #1c8eb1 100%);
    background-size: 100% 100%;    /*o primeiro size é largura e o segundo é altura*/
    background-position: top center;
    background-repeat: no-repeat;
    margin-bottom: 50px;
    
}
body*{
    font-family: 'inter', sans-serif;
    /*primeira opção de fonte vinda do fonts google*/
    /*segunda opção de fonte vinda do padrão html/css*/
    line-height: 160%;
}
header img{
    width: 700px;
    border-radius: 50%;
}
header{
    text-align: center;
    padding: 50px;
    transition: transform .3s;
    /*toda vez que houver uma transformação nessa div, será de forma lenta, uma transição de 3seg*/
}
header:hover{
    transform: scale(1.1);
    /*quando o mouse passar por cima da div, ela irá aumentar de forma escalada 1.1x*/
}
main{
    max-width: 70%;
    max-height: 25%;
    margin: auto;    /*a margem automática faz com que as laterais fiquem com o mesmo tamanho*/
    display: grid; /*torna possível o uso de gap*/
    gap: 50px; /*espaço entre as sections de main*/
    margin-top: 40px;
}
ul{
    list-style: none;    /*tira o tópico que vem na lista, pontinhos ou numeros*/
}
section{
    color:white;    /*isso troca a cor de tudo dentro dessa tag exceto por background e images*/
    background-image: linear-gradient(100deg, #590ed1 15%, #a70b6b 50%, #1948a0 75% );
    /*as porcentagens são onde começam e onde terminam as cores*/
    /*o linear gradiente é para fazer fundos em degradê, e se você colocar box sobre box igual em div sobre
    section, é possível montar sua borda colorida em degradê*/
    padding-top: 4px; /*É a margem interna do topo de section, a div só vai começar abaixo dessa margem, ou seja,
    vai ser uma linha onde aparece o degradê de margem*/
    border-radius: 10px;
    text-align: center;
    
}
section h2{
    font-weight: 900;    /*grossura da letra*/
    font-size: 30px;    /*tamanho da letra*/
    letter-spacing: 2px;    /*espaçamento entre letras*/
}
section p{
    color: #a1a1aa;
    font-size: 20px;
    font-style: italic;
}
section ul{
    margin-top: 15px; /*margem entre lista e o conteúdo acima*/
}
section div{
    background-color: rgb(56, 52, 90);
    padding: 40px; /*margem interna, 4 lados*/
    padding-top: 25px;
    border-radius: 8px;
}
section ul li{
    width: fit-content;
    transition: transform .3s;
    /*toda vez que houver uma transformação nessa div, será de forma lenta, uma transição de 3seg*/
}
section ul li:hover{
    transform: scale(1.1);
    /*quando o mouse passar por cima da div, ela irá aumentar de forma escalada 1.1x*/
}
ul{
    display: flex; /*faz os tópicos da lista ficarem lado a lado*/
}
.pcs{
    width: fit-content;
    margin: auto;
    margin-top: 30px;
}
.tam{
    width:70%;   
    max-width: 700px; 
}
#text{
    font-size: large;
}